* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
}
 /* * CSS Custom Properties */
:root {
    --border-bg: #D3D3D3;
    --right-bg: #6aaa64;
    --maybe-bg: #c9b458;
    --wrong-bg: #787c7e;
  }

body {
    background: linear-gradient(90deg, rgba(237,246,182,0.8127626050420168) 0%, rgba(244,208,245,0.8883928571428571) 100%);
    /* background-color: burlywood; */
}
h1 {
    margin-top: 1em;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#title {
    font-size: 4em;
}
.wrapper {
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* gap: 1em; */
    position: absolute;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.795);
    box-shadow: 10px 5px 15px rgba(237, 174, 192, 0.644);
    /* border-style: dotted; */
    width: 54em;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    /* border: 2px solid; */
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--border-bg);
    color: black;
    text-transform: uppercase;
    text-align: center;
    place-content: center;
    font-size: 2em;
    font-weight: bold;
}

.box.right {
    background-color: var(--right-bg);
    color: white;
    
}
.box.maybe{
    background-color: var(--maybe-bg);
    color: white;
}
.box.wrong {
    background-color: var(--wrong-bg);
    color: white;
}


.container, .rules{
    position: relative;
    /* background-color: blueviolet; */
    height: 33em;
    width: 25em;
}

#win-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at 7.5% 24%, rgb(238, 246, 182) 0%, rgb(244, 208, 245) 100%);
    width: 450px;
    height: 300px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 5px 15px rgba(237, 174, 192, 0.644);
}

#reset-btn {
    align-items: center;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(152, 65, 252, 0.404) 0 15px 30px -5px;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    min-height: 40px;
  }
  
  #reset-btn:active,
  #reset-btn:hover {
    outline: 0;
  }
  
  #reset-btn span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  #reset-btn:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    #reset-btn {
      font-size: 24px;
      min-width: 196px;
    }
  }



