* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "arimo", sans-serif;
}
 /* * CSS Custom Properties */
:root {
    --border-bg: #D3D3D3;
    --right-bg: #6aaa64;
    --maybe-bg: #c9b458;
    --wrong-bg: #787c7e;
    /* --right-bg: #50C878; */
    /* --maybe-bg: #FFFAA0; */
    /* --wrong-bg: #C0C0C0; */
  }

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(237,246,182,0.8127626050420168) 0%, rgba(244,208,245,0.8883928571428571) 100%);
    /* background-color: burlywood; */
}
h1 {
    margin-top: 1em;
    text-align: center;
}

#title {
    font-size: 4em;
}
.wrapper {
    display: flex;
    /* background-color: bisque; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* gap: 1em; */
    position: absolute;
    padding: 1em;
    border-radius: 1em;
    /* background-color: white; */
    box-shadow: 10px 5px 15px cornflowerblue;
    /* border-style: dotted; */
    width: 54em;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    /* border: 2px solid; */
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--border-bg);
    color: black;
    text-transform: uppercase;
    text-align: center;
    place-content: center;
    font-size: 2em;
    font-weight: bold;
}

.box.right {
    background-color: var(--right-bg);
    color: white;
    
}
.box.maybe{
    background-color: var(--maybe-bg);
    color: white;
}
.box.wrong {
    background-color: var(--wrong-bg);
    color: white;
}


.container, .rules{
    position: relative;
    /* background-color: blueviolet; */
    height: 33em;
    width: 25em;
}

#win-screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lavender;
    width: 500px;
    text-align: center;
    position: absolute;
    /* visibility: hidden; */
}

#reset-btn {
    
}


